body {
    background-color: #17181A;
    /* color: #CECFD1; */
    color: #27282B;
    font-family: 'Roboto', sans-serif;
    background-image: url(background1.jpg)
}

a { color: #CECFD1; }

.breaker { width: 100%; height: 1px; background-color: #CECFD1; }


.drawArea > div.clear {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
}

.drawArea > div.clear > svg {
    fill: #d0c792;
}
.drawArea > div.clear:hover > svg {
    fill: #efe192;
}
.drawArea > div.showing {
    animation: fadein .1s;
    display: inherit;
}

.drawArea > canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    top: 0;
    left: 0;
    z-index: -1;
}


.dateArea {
    text-align: center;
}

h1 {
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    display:inline-block; 
}

h2 {
    font-size: 20px;
    font-weight: 300;
    margin:0;
    display:inline-block; 
}



.area {
    margin-bottom: 0;
}

.linkArea { text-align: center; margin-bottom: 50px; }

.cluster {
    width: 240px; height: 240px;
    display: inline-block;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.hitbox {
    position: relative;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: -37.5px;
    left: 37.5px;
}
.queen:hover .hitbox {
    width: 310px;
    height: 310px;
}

.links {
    position: relative;
    top: -347.5px;
    left: 37.5px;
}

.link {
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    display: none;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #27282B;
}
.link:hover {
    background-color: #111113d1;
    color: #CECFD1;
}
.queen:hover .link {
    animation: fadein .1s;
    display: block;
}


.queen { 
    width: 150px; height: 150px;
    padding: 37.5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
}
.queen:hover { background-color: #111113d1; }

.cluster:nth-of-type(1) > .queen > svg { fill: #5e9264; }
.cluster:nth-of-type(2) > .queen > svg { fill: #7b849c; }
.cluster:nth-of-type(3) > .queen > svg { fill: #88528a; }



.searchArea {
    text-align: center;
}

.searchArea > div {
    position: absolute;
    width: 50vw;
    min-width: 320px;
    left: 50vw;
    transform: translateX(-50%);
}

.searchArea input {
    width: 100%;
    height: 50px;
    padding-left: 14px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #00000000;
    border: none;
    color: #CECFD1;
    outline: none;
}

.searchArea ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    /* background-color: #27282b87; */
    max-height: 300px;
    overflow-y: hidden;
    text-align: left;
}

.searchArea ul a {
    text-decoration: none;
}

.searchArea ul li {
    font-weight: 400;
    padding: 4px 0 4px 14px;
    cursor: pointer;
}
.searchArea ul li:hover, .selected > li {
    /* background-color: #8aa7ad; */
    background-color: #111113d1;
}





@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}